body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info_header {
    display: flex;
    justify-content: center;
    background-color: rgb(47, 130, 194);
    color: snow;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.info_header div {
    height: auto;
    width: 30%;
    text-align: center;
}

.work_cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.wide_image {
    width: 100%;
    height: auto;
}

.home {
    position: relative;
}

.nav_bar {
    top: 0;
    width: 100%; /* Full width */
    height: 75px;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

.logo {
    padding-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: auto;
    height: 80%;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}

.menu a {
    text-decoration: none;
    font-size: smaller;
    height: auto;
    text-align: center;
    color: snow;
    display: block;
}

.menu a:hover {
    font-size: larger;
}

.card {
    background-color: white;
    color: black;
    display: inline-flex;
    height: 200px;
    font-size: large;
}

.card_image {
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.image_title {
    padding-left: 20%;
}

.image_title h1 {
    margin-top: 2%;
}

.card_text {
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card_text p {
    padding-right: 5%;
}

.image_card img {
    width: 100%;
}

.footer {
    background-color: black;
    color: #ffffff;
    display: inline-flex;
    height: 400px;
}

.contacts_info {
    overflow: hidden;
    width: 50%;
    padding-left: 8%;
    padding-top: 3%;
    padding-right: 8%;
}

.contacts_logo img {
    width: 150px;
}

.google_maps {
    width: 50%;
    padding-left: 3%;
    padding-top: 3%;
}